<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Add necessary meta tags, CSS links, and title -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Listings</title>

  <!-- Add necessary CSS links here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/dashboard.css" type="text/css" />

</head>
<body>
  <!-- Header -->
  <%- include('partials/_header') %>

  <!-- Main Content -->
  <div class="container">
    <h1>Welcome to Your Listings, <%= currentUser.username %>!</h1>
    <div class="row">
      <% listings.forEach((listing) => { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="<%= listing.imageUrl %>" class="card-img-top" alt="Listing Image">
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text"><%= listing.description %></p>
              <% if (typeof listing.price !== 'undefined' && listing.price !== null) { %>
                <p class="card-text">Price: $<%= listing.price %></p>
              <% } else { %>
                <p class="card-text">Price: N/A</p>
              <% } %>
              <!-- Add a delete button for each listing -->
              <form action="/dashboard/sold/<%= listing.id %>" method="POST">
                <input type="hidden" name="isSold" value="<%= listing.is_sold ? 'false' : 'true' %>">
                <button class="btn btn-primary sold-btn" type="submit"><%= listing.is_sold ? 'Mark Available' : 'Mark Sold' %></button>
              </form>
              <button class="btn btn-danger delete-btn" data-item-id="<%= listing.id %>">Delete</button>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>
